* { margin:0; border:0; outline:0; }
body { font-family:Arial, Helvetica, sans-serif; font-size:13px; overflow-x:hidden; }

.clear { clear:both; }
.section { width:800px; margin:auto; }
.menu { padding:0; }


/*---------------------
	HEADER
*/
#header-wrapper { height:165px; position:relative; z-index:15; }

/*.sub-menu { padding-left:0; background:#382a2a; position:absolute; top:30px; left:0; display:none; }*/
.sub-menu { padding-left:1px; background:#382a2a; position:absolute; top:28px; left:0; display:none; }
.sub-menu a { width:170px; }


.sub-menu2 { padding-left:0; background:#382a2a; position:absolute; top:225px; left:190px; display:none; }
.sub-menu2 a { width:170px; }


#main-menu-wrapper { height:30px; background:#382a2a; }
#main-menu > li { position:relative; float:right; }
#main-menu > li.active { z-index:100; }
#main-menu li { margin-left:0; list-style:none; }
#main-menu li a { padding:8px 10px; font-size:11px; font-style:normal; text-decoration:none; text-transform:uppercase; color:#ccc; display:inline-block; *display:inline; zoom:1; }
#main-menu li a:hover { background:#524040; }
#main-menu li.selected > a { color:#FF880F; }
#main-menu #sub-menu-about { left:-134px; }

#service-menu-wrapper { height:135px; position:relative; }
#service-menu-wrapper #logo { position:absolute; top:20px; left:0; .z-index:10; }

#service-menu-wrapper #service-menu { position:absolute; bottom:0; left:1px; .z-index:10; }
#service-menu li { margin-left:0; list-style:none; float:left; }
#service-menu li a { height:33px; font-weight:bold; font-style:normal; color:white; line-height:36px; text-decoration:none; text-align:center; display:inline-block; *display:inline; zoom:1; }
#service-menu #btn-service-professional a { width:172px; background:url("../img/btn-service-professional.png") 0 0 no-repeat; }
#service-menu #btn-service-professional.active,
#service-menu #btn-service-professional a:hover{ background-position:-172px 0; }
#service-menu #btn-service-support a { width:180px; background:url("../img/btn-service-support.png") 0 0 no-repeat; }
#service-menu #btn-service-support.active,
#service-menu #btn-service-support a:hover{ background-position:-180px 0; }
#service-menu #btn-service-managed a { width:158px; padding-right:50px; background:url("../img/btn-service-managed.png") 0 0 no-repeat; }
#service-menu #btn-service-managed.active,
#service-menu #btn-service-managed a:hover{ background-position:-208px 0; }



/*---------------------
	CONTENT
*/
#content-bg { width:100%; position:absolute; top:165px; left:0; }

#content-wrapper { width:100%; .overflow:hidden; position:relative; z-index:10; }

#content-wrapper #img-lambda-index { width:800px; margin-left:-400px; text-align:right; position:absolute; top:-135px; left:50%; z-index:5; }
#content-wrapper #img-lambda-index img { margin-right:25px; }
#content-wrapper #img-lambda { margin-left:-1000px; position:absolute; top:-135px; left:50%; z-index:5; overflow:hidden; }

#content { position:relative; z-index:10; }



/*---------------------
	FOOTER
*/
#footer-wrapper { min-height:100px; background:#e2e2e2; border-top:2px solid #e51d4c; position:relative; z-index:10; }
#footer { padding:20px 20px 0; }
#footer td,
#footer a,
#footer strong { font-size:11px;color:#666; }
#footer td { vertical-align:bottom; }
#footer a { font-style:normal; text-decoration:none; }
#footer a:hover { text-decoration:underline; }